body {
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: lightgrey;
}

footer{
    padding-top: 10px;
}


.nav-link{
    color:rgb(51, 255, 0);
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
.sidebar-header{
    background-color: rgb(34, 34, 34);
    max-width: 250px;
}
.list-unstyled.components{
    background-color:rgb(92, 92, 92);
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

.center{
    text-align: center;
}

.full-width{
    width: 100%;
}
.border{
    margin: 10px;
}
.center-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.gallery-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}

.gallery-row{
    margin-bottom: 20px;
}

.product-text{
    text-align: justify;
}

.list-header{
    font-size: 20px;
    font-style: italic;
}

.padding-top{
    padding-top: 20px;
}
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}