body{
    background-color: blue; 
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

header{
    background-color: blueviolet;
}

nav{
    background-color: black;    
}

section{
    background-color: brown;
}

article{
    background-color: chartreuse;
}

aside{
    background-color: crimson;
}

footer{
    background-color: cyan;

}
